body{
  margin: 0px;
  padding: 0px;
}

.cardMedia{
  object-fit: contain !important;
}

.cardProduct:hover{
  transform: scale(1.3,1.3);
  z-index: 1000;
  box-shadow: inset;
  border:  2px solid #AED6F1 ;
}

.containerList{
  margin: 50px;
}

.containerCardDetail{
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
}

.logo{
  width: 80px;
  height: auto;
}

.cantCarrito{
  align-items:center;
  background-color: #4caf50;
  border-radius:  50%;
  color: #ffffff;
  display: flex;
  font-size: 20px;
  justify-content: center;
  line-height: 20px;
  text-align: center;
  height: 40px;
  width: 40px;
  margin-right: 5px;
}

.numCarrito{
  border-radius: 100%;
  background-color: red;
  width: 30px;
  height: 20px;
  position: relative;
  left: 0px;
  top: -10px;
  text-align: center;
  padding: 0px;
  font-size: 20px;
}

.carrito{
  color: #ffffff;
  display: inline;
  fill: #ffffff;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  position: relative;
  top: 0px;
  left: 10px;
}